# MPG Cars

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [7]:
cars1.drop(['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1, inplace=True)

In [10]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 5. What is the number of observations in each dataset?

In [13]:
cars1.shape

(198, 9)

In [14]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [19]:
cars = cars1.append(cars2)

In [21]:
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
import numpy as np
owners = np.random.randint(15000, 73000, size=cars.shape[0])

In [23]:
len(owners)

398

In [24]:
cars['owners'] = owners

In [25]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,33.0,4,91,53,1795,17.4,76,3,honda civic,39121
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se,43205
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia,24781
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj,63417
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l,22674

### Step 8. Replace the owners column name to price of the car.

In [27]:
cars.rename({'owners': 'price'}, axis=1, inplace=True)

In [28]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,price
0,33.0,4,91,53,1795,17.4,76,3,honda civic,39121
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se,43205
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia,24781
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj,63417
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l,22674